In [1]:
! pip install pandas
! pip install requests
! pip install plyer

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (2024.2.2)
Requirement already satisfied: plyer in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.1.0)

In [14]:
import pandas as pd
import requests as rq
import plyer 
import datetime
import sqlite3

In [3]:
def error(error_message):
    current_date = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    message = f'{error_message} {current_date}'
    plyer.notification.notify(
        title='Error',
        message=message,
        app_name="Alerta"
    )

In [4]:
def get_response(url):
    response = rq.get(url)
    if response.status_code == 200:
        data_json = response.json()
        return data_json
    else:
        error('Tabela nao encontrada')

In [5]:
def get_tables(url):
    response = get_response(url)
    return response

In [6]:
def create_df(data):
    if data is None:
        return pd.DataFrame()
    df = pd.DataFrame(data)
    df['country'] = df['name'].apply(lambda x: x.get('common', ''))
    df = df[['country', 'capital', 'area', 'population']]
    return df

In [7]:
def filter_df(df, min_population):
    return df[df['population'] > min_population]

In [8]:
def unstack_df(df, index_col):
    return df.set_index(index_col).unstack()

In [20]:
def create_table_sqlite(data, nome_tabela):
    # Converter a série em um DataFrame
    df = pd.DataFrame(data)

    # Converter o nome das colunas para strings
    df.columns = df.columns.astype(str)

    # Conectar ao banco de dados SQLite
    conn = sqlite3.connect('dados_paises.db')
    cursor = conn.cursor()

    # Criar a tabela no banco de dados
    colunas_str = ', '.join([f'"{coluna}"' for coluna in df.columns])
    cursor.execute(f"CREATE TABLE IF NOT EXISTS {nome_tabela} ({colunas_str})")

    # Inserir os dados do DataFrame na tabela
    for index, row in df.iterrows():
        values = ', '.join([f'"{str(row[coluna])}"' for coluna in df.columns])
        cursor.execute(f"INSERT INTO {nome_tabela} VALUES ({values})")

    # Commitar as alterações e fechar a conexão
    conn.commit()
    conn.close()
    
    # Exemplo de uso da função para criar e preencher a tabela SQLite

In [21]:
def main():
    urls = {
        'Lang': 'https://restcountries.com/v3.1/lang/portuguese?limit=14',
        'Region': 'https://restcountries.com/v3.1/region/europe',
        'Subregion': 'https://restcountries.com/v3.1/subregion/Caribbean'
    }

    for key, url in urls.items():
        data = get_response(url)
        df = create_df(data)
        print(f"{key} DataFrame:")
        print(df)
        
        df_filtered = filter_df(df, 500000)
        print(f"{key} DataFrame (filtered):")
        print(df_filtered)
        
        df_unstacked = unstack_df(df_filtered, 'country')
        print(f"{key} DataFrame (unstacked):")
        print(df_unstacked)
        print()

        # Chamar a função para criar e preencher a tabela SQLite
        create_table_sqlite(df_filtered, key)
        
main()

Lang DataFrame:
                 country     capital       area  population
0             Mozambique    [Maputo]   801590.0    31255435
1               Portugal    [Lisbon]    92090.0    10305564
2          Guinea-Bissau    [Bissau]    36125.0     1967998
3  São Tomé and Príncipe  [São Tomé]      964.0      219161
4                 Brazil  [Brasília]  8515767.0   212559409
5            Timor-Leste      [Dili]    14874.0     1318442
6                  Macau         NaN       30.0      649342
7      Equatorial Guinea    [Malabo]    28051.0     1402985
8                 Angola    [Luanda]  1246700.0    32866268
9             Cape Verde     [Praia]     4033.0      555988
Lang DataFrame (filtered):
             country     capital       area  population
0         Mozambique    [Maputo]   801590.0    31255435
1           Portugal    [Lisbon]    92090.0    10305564
2      Guinea-Bissau    [Bissau]    36125.0     1967998
4             Brazil  [Brasília]  8515767.0   212559409
5        Timor-Leste      [Dili]    14874.0     1318442
6              Macau         NaN       30.0      649342
7  Equatorial Guinea    [Malabo]    28051.0     1402985
8             Angola    [Luanda]  1246700.0    32866268
9         Cape Verde     [Praia]     4033.0      555988
Lang DataFrame (unstacked):
            country
capital     Mozambique             [Maputo]
            Portugal               [Lisbon]
            Guinea-Bissau          [Bissau]
            Brazil               [Brasília]
            Timor-Leste              [Dili]
            Macau                       NaN
            Equatorial Guinea      [Malabo]
            Angola                 [Luanda]
            Cape Verde              [Praia]
area        Mozambique             801590.0
            Portugal                92090.0
            Guinea-Bissau           36125.0
            Brazil                8515767.0
            Timor-Leste             14874.0
            Macau                      30.0
            Equatorial Guinea       28051.0
            Angola                1246700.0
            Cape Verde               4033.0
population  Mozambique             31255435
            Portugal               10305564
            Guinea-Bissau           1967998
            Brazil                212559409
            Timor-Leste             1318442
            Macau                    649342
            Equatorial Guinea       1402985
            Angola                 32866268
            Cape Verde               555988
dtype: object

Region DataFrame:
                   country               capital         area  population
0                   Serbia            [Belgrade]     88361.00     6908224
1              Netherlands           [Amsterdam]     41850.00    16655799
2                 Portugal              [Lisbon]     92090.00    10305564
3                  Albania              [Tirana]     28748.00     2837743
4           United Kingdom              [London]    242900.00    67215293
5            Liechtenstein               [Vaduz]       160.00       38137
6                  Denmark          [Copenhagen]     43094.00     5831404
7                Gibraltar           [Gibraltar]         6.00       33691
8                  Croatia              [Zagreb]     56594.00     4047200
9               Luxembourg          [Luxembourg]      2586.00      632275
10  Svalbard and Jan Mayen        [Longyearbyen]     61399.00        2562
11                   Malta            [Valletta]       316.00      525285
12                   Italy                [Rome]    301336.00    59554023
13                 Czechia              [Prague]     78865.00    10698896
14             Switzerland                [Bern]     41284.00     8654622
15                 Iceland           [Reykjavik]    103000.00      366425
16           Åland Islands           [Mariehamn]      1580.00       29458
17                  Poland              [Warsaw]    312679.00    37950802
18                Slovenia           [Ljubljana]     20273.00     2100126
19              Montenegro           [Podgorica]     13812.00      621718
20                   Spain              [Madrid]    505992.00    47351567
21                Bulgaria               [Sofia]    110879.00     6927288
22                  Monaco              [Monaco]         2.02       39244
23                 Ireland              [Dublin]     70273.00     4994724
24  Bosnia and Herzegovina            [Sarajevo]     51209.00     3280815
25                  Sweden           [Stockholm]    450295.00    10353442
26                 Andorra    [Andorra la Vella]       468.00       77265
27                  Kosovo            [Pristina]     10908.00     1775378
28                  France               [Paris]    551695.00    67391582
29                 Belgium            [Brussels]     30528.00    11555997
30                  Cyprus             [Nicosia]      9251.00     1207361
31                  Russia              [Moscow]  17098242.00   144104080
32                 Germany              [Berlin]    357114.00    83240525
33                 Romania           [Bucharest]    238391.00    19286123
34                 Austria              [Vienna]     83871.00     8917205
35         North Macedonia              [Skopje]     25713.00     2077132
36                 Moldova            [Chișinău]     33846.00     2617820
37                  Norway                [Oslo]    323802.00     5379475
38                 Finland            [Helsinki]    338424.00     5530719
39                Slovakia          [Bratislava]     49037.00     5458827
40                 Hungary            [Budapest]     93028.00     9749763
41           Faroe Islands            [Tórshavn]      1393.00       48865
42                Guernsey      [St. Peter Port]        78.00       62999
43                 Ukraine                [Kyiv]    603500.00    44134693
44                  Jersey        [Saint Helier]       116.00      100800
45            Vatican City        [Vatican City]         0.44         451
46                 Estonia             [Tallinn]     45227.00     1331057
47                 Belarus               [Minsk]    207600.00     9398861
48                  Greece              [Athens]    131990.00    10715549
49             Isle of Man             [Douglas]       572.00       85032
50               Lithuania             [Vilnius]     65300.00     2794700
51                  Latvia                [Riga]     64559.00     1901548
52              San Marino  [City of San Marino]        61.00       33938
Region DataFrame (filtered):
                   country       capital        area  population
0                   Serbia    [Belgrade]     88361.0     6908224
1              Netherlands   [Amsterdam]     41850.0    16655799
2                 Portugal      [Lisbon]     92090.0    10305564
3                  Albania      [Tirana]     28748.0     2837743
4           United Kingdom      [London]    242900.0    67215293
6                  Denmark  [Copenhagen]     43094.0     5831404
8                  Croatia      [Zagreb]     56594.0     4047200
9               Luxembourg  [Luxembourg]      2586.0      632275
11                   Malta    [Valletta]       316.0      525285
12                   Italy        [Rome]    301336.0    59554023
13                 Czechia      [Prague]     78865.0    10698896
14             Switzerland        [Bern]     41284.0     8654622
17                  Poland      [Warsaw]    312679.0    37950802
18                Slovenia   [Ljubljana]     20273.0     2100126
19              Montenegro   [Podgorica]     13812.0      621718
20                   Spain      [Madrid]    505992.0    47351567
21                Bulgaria       [Sofia]    110879.0     6927288
23                 Ireland      [Dublin]     70273.0     4994724
24  Bosnia and Herzegovina    [Sarajevo]     51209.0     3280815
25                  Sweden   [Stockholm]    450295.0    10353442
27                  Kosovo    [Pristina]     10908.0     1775378
28                  France       [Paris]    551695.0    67391582
29                 Belgium    [Brussels]     30528.0    11555997
30                  Cyprus     [Nicosia]      9251.0     1207361
31                  Russia      [Moscow]  17098242.0   144104080
32                 Germany      [Berlin]    357114.0    83240525
33                 Romania   [Bucharest]    238391.0    19286123
34                 Austria      [Vienna]     83871.0     8917205
35         North Macedonia      [Skopje]     25713.0     2077132
36                 Moldova    [Chișinău]     33846.0     2617820
37                  Norway        [Oslo]    323802.0     5379475
38                 Finland    [Helsinki]    338424.0     5530719
39                Slovakia  [Bratislava]     49037.0     5458827
40                 Hungary    [Budapest]     93028.0     9749763
43                 Ukraine        [Kyiv]    603500.0    44134693
46                 Estonia     [Tallinn]     45227.0     1331057
47                 Belarus       [Minsk]    207600.0     9398861
48                  Greece      [Athens]    131990.0    10715549
50               Lithuania     [Vilnius]     65300.0     2794700
51                  Latvia        [Riga]     64559.0     1901548
Region DataFrame (unstacked):
            country
capital     Serbia             [Belgrade]
            Netherlands       [Amsterdam]
            Portugal             [Lisbon]
            Albania              [Tirana]
            United Kingdom       [London]
                                 ...
population  Estonia               1331057
            Belarus               9398861
            Greece               10715549
            Lithuania             2794700
            Latvia                1901548
Length: 120, dtype: object

Subregion DataFrame:
                             country             capital      area  population
0                         Montserrat          [Plymouth]     102.0        4922
1       United States Virgin Islands  [Charlotte Amalie]     347.0      106290
2                        Puerto Rico          [San Juan]    8870.0     3194034
3              Caribbean Netherlands        [Kralendijk]     328.0       25987
4                         Guadeloupe       [Basse-Terre]    1628.0      400132
5                         Martinique    [Fort-de-France]    1128.0      378243
6                           Anguilla        [The Valley]      91.0       13452
7                              Haiti    [Port-au-Prince]   27750.0    11402533
8                               Cuba            [Havana]  109884.0    11326616
9                 Dominican Republic     [Santo Domingo]   48671.0    10847904
10                           Jamaica          [Kingston]   10991.0     2961161
11                           Curaçao        [Willemstad]     444.0      155014
12                       Saint Lucia          [Castries]     616.0      183629
13                             Aruba        [Oranjestad]     180.0      106766
14               Antigua and Barbuda      [Saint John's]     442.0       97928
15                    Cayman Islands       [George Town]     264.0       65720
16                           Bahamas            [Nassau]   13943.0      393248
17                          Dominica            [Roseau]     751.0       71991
18  Saint Vincent and the Grenadines         [Kingstown]     389.0      110947
19          Turks and Caicos Islands     [Cockburn Town]     948.0       38718
20                      Sint Maarten       [Philipsburg]      34.0       40812
21            British Virgin Islands         [Road Town]     151.0       30237
22                           Grenada      [St. George's]     344.0      112519
23             Saint Kitts and Nevis        [Basseterre]     261.0       53192
24               Trinidad and Tobago     [Port of Spain]    5130.0     1399491
25                  Saint Barthélemy          [Gustavia]      21.0        4255
26                      Saint Martin           [Marigot]      53.0       38659
27                          Barbados        [Bridgetown]     430.0      287371
Subregion DataFrame (filtered):
                country           capital      area  population
2           Puerto Rico        [San Juan]    8870.0     3194034
7                 Haiti  [Port-au-Prince]   27750.0    11402533
8                  Cuba          [Havana]  109884.0    11326616
9    Dominican Republic   [Santo Domingo]   48671.0    10847904
10              Jamaica        [Kingston]   10991.0     2961161
24  Trinidad and Tobago   [Port of Spain]    5130.0     1399491
Subregion DataFrame (unstacked):
            country
capital     Puerto Rico                  [San Juan]
            Haiti                  [Port-au-Prince]
            Cuba                           [Havana]
            Dominican Republic      [Santo Domingo]
            Jamaica                      [Kingston]
            Trinidad and Tobago     [Port of Spain]
area        Puerto Rico                      8870.0
            Haiti                           27750.0
            Cuba                           109884.0
            Dominican Republic              48671.0
            Jamaica                         10991.0
            Trinidad and Tobago              5130.0
population  Puerto Rico                     3194034
            Haiti                          11402533
            Cuba                           11326616
            Dominican Republic             10847904
            Jamaica                         2961161
            Trinidad and Tobago             1399491
dtype: object